<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.gooddesign.mapper.DesignMainStakeholderMapper">

    <select id="getStakeholderIds" parameterType="int" >
        select * from design_main_stakeholder s where s.main_id =#{mainId} and s.type = #{type}
    </select>
</mapper>