<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.gooddesign.mapper.DesignEnrollProductMapper">
    <update id="updateTopStatusByDesignNos">
        update design_enroll_judges set top_recommend_status=#{topStatus}
        where design_no in
        <foreach collection="designNos" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>