<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.gooddesign.mapper.DesignEnrollJudgesMapper">
    <update id="batchEditScreenStatus">
        update design_enroll_judges set screen_status=#{screenStatus}
        where id in

        <foreach collection="enrollIds" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


    <select id="pageByNameAndTopStatus"
            resultType="org.jeecg.modules.gooddesign.entity.vo.DesignTopJudgesScoreVO">
        select *,IFNULL(total_score,0) AS score from design_enroll_judges j left join (
        select p.participant_id,sum(u.weight) as total_score from design_enroll_participants p left join sys_user u on
        p.judge_id=u.id group by participant_id
        )tmp on j.id=tmp.participant_id where 1=1
        <if test="realName!=null">
            and j.real_name like CONCAT('%',#{realName},'%')
        </if>
        <if test="topStatus!=null">
            and j.top_recommend_status =#{topStatus}
        </if>
        <if test="sortStatus!=null and sortStatus==1">
            order by score asc
        </if>
        <if test="sortStatus!=null and sortStatus==2">
            order by score desc
        </if>

    </select>

    <select id="queryScoreHistory"
            resultType="org.jeecg.modules.gooddesign.entity.vo.JudgesScoreVO">
        select u.weight,u.realname,p.score_status from design_top_judges_participants p left join sys_user u on
        p.judge_id=u.id
        <if test="id!=null">
            where p.participant_id=#{id}
        </if>
    </select>
</mapper>