<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.gooddesign.mapper.DesignTopJudgesMapper">
    <update id="updateSortByDesignNo">
        update design_top_judges
        set sort = #{sort}
        where design_no = #{designNo}
    </update>
    <select id="index" resultType="org.jeecg.modules.gooddesign.entity.DesignTopJudges">
        select j.*
        from design_top_judges j
                 left join design_activity t on j.activity_id = t.id
        where t.top_status = 1
        order by j.create_time desc
        limit 1
    </select>
</mapper>